*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 600px;
    height: 200px;
    margin-left: 400px;
    display: flex;
    justify-content: space-between;
}

.navLabel:hover {
    color: rgb(23, 184, 242);
}

.navLabel {
    margin-right: 50px;
    text-decoration: none;
}

.container {
    margin-top: 50px;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
img{
    height: 500px;
    width: 100%;
}
section{
            
    background-color: rgb(47, 158, 84);
    background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     color: white;
     padding: 50px;
     text-align: center;
}
h1{
    margin: 10px;
}
.hello{
    height: 700px;
    font-size: 40px;
    
    display:flex;
    justify-content: center;
    align-items: center;
}
#d1{
    background-image: url(https://images.pexels.com/photos/763928/pexels-photo-763928.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
*{
    margin: 0px;
}
#d2{
    background-image: url(https://images.pexels.com/photos/3311094/pexels-photo-3311094.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#d3{
    background-image: url(https://images.pexels.com/photos/6588865/pexels-photo-6588865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
#d4{
    background-image: url(https://images.pexels.com/photos/1581101/pexels-photo-1581101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
